<a style="font-size: 22px;" href="/dashboard">&larr; Powrót</a>
<div class="admin-title">
  <h2>Dodaj nowy artykuł</h2>
</div>

<form class="contact-form" action="/add-post" method="POST">

  <label for="title"><b>Tytuł</b></label>
  <input type="text" placeholder="Tytuł artykułu" name="title">

  <label for="body"><b>Treść</b></label>
  <textarea name="body" placeholder="Tutaj wpisz treść artykułu..." cols="50" rows="14"></textarea>

  <input type="submit" value="Dodaj" class="btn" style="border: 20px; width: 10%">

</form>
