<h3>Logowanie</h3>

<form class="contact-form" action="/admin" method="POST">

  <label for="username"><b>Nazwa użytkownika</b></label>
  <input type="text" placeholder="Wprowadź nazwę użytkownika" name="username">

  <label for="password"><b>Hasło</b></label>
  <input type="password" placeholder="Wprowadź hasło" name="password">

  <!-- <button type="submit" class="btn">Login</button> -->
  <input type="submit" value="Zaloguj się" class="btn" style="border:0px">
  <br><br><br>
  <img class="herb-image" src="/img/herb.png">

</form>






<!-- Dodatkowy formularz do rejestracji użytkownika (nieaktywny)-->
<!-- <form class="contact-form" action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn" style="border:0px">
  <br><br><br>
  <img class="herb-image" src="/img/herb.png">

</form> -->
