<header class="header">
    <a href="/dashboard" class="header__logo">Administrator</a>
  
    <nav class="header__nav">
      <ul>
          <li>
              <a href="/" class="">Strona główna</a>
          </li>
          <li>
              <a href="/about" class="">O nas></a>
          </li>
          <li>
              <a href="/map" class="">Mapa tras></a>
          </li>
          <li>
              <a href="/contact" class="">Kontakt></a>
          </li>
      </ul>
  </nav>
  
    <div>
      <a id="logout" href="/logout">
        Wyloguj
      </a>
    </div>
  
  </header>