<h1 class="author__heading"><%= data.title %></h1>
<article class="articles">
    <p class="article-ul">
        <%= data.body %>
    </p>
    <br>
    <p>
        <img class="hero-image" src="<%= image %>" alt="Zdjęcie tramwaju">
    </p>
</article>