@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #929292;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --blue-dark: #003366;
  --blue-light: #0055A4;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  background: linear-gradient(to bottom, #ecd44a, #e44141);
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--blue-dark);
  border: 20px;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 20px;
  
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}

.btn-edit {
  padding: 8px 16px;
  background-color: var(--blue-light);
}


img {
  width: 100%;
  height: auto;
}


/* Layout */
.container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* Hero Section */
.hero-image {
  filter: drop-shadow(0px 18px 14px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: 25px;
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  margin-top: 5px;
  padding: 10px 20px;
  background: var(--blue-dark);
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
  color: white;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.header__button button:hover {
  border: 2px solid white;
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.header__nav ul a:hover {
  background: var(--blue-light);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 20px 0;
  background: var(--gray-light);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Home Article List */
.articles__heading {
  margin-top: 1rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--black);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  text-decoration: underline;
}

.article {
  white-space: pre-wrap;
}

.articles {
  background: var(--gray-light);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* About */
.about {
  margin: 5px;
  background: var(--gray-light);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h1-about {
  margin: 20px 20px 20px 30px;
}


/* Routes map */
.routes-container {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

.routes-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background: var(--gray-light);
}

.map-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 1.2rem;
  background: var(--blue-dark);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.map-btn:hover {
  background: var(--blue-light);
}

#zoomOut {
  right: 50px;
}

.routes-info {
  background: var(--gray-light);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.routes-legend {
  list-style: none;
  padding: 0;
}

.routes-legend li {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.route-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}


/* Contact */
.contact-form {
  margin: 20px auto;
  padding: 20px;
  background: var(--gray-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 10px;
  background: var(--blue-dark);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: var(--blue-light);
}

.contact-info {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: var(--gray-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.herb-image {
  max-width: 181px;
  max-height: 279px;
  margin-top: 40px;
  background: var(--gray-light);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Footer */
.footer {
  margin-bottom: 5px;
  background-color: #333;
  color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

/* .admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
} */

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#logout {
  font-size: var(--font-size-md);
  font-weight: 600;
  text-decoration: none;
  color: white;
}

#logout:hover {
  text-decoration: underline;
}

/* SearchBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--blue-dark);
  padding: 2px 0;
  position: absolute;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
}

.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.searchBar input {
  margin: 0;
  border: 0;
}

#searchClose {
  position: absolute;
  top: 12px;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}

.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}
